<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-7">
      <div class="text-left col-lg-6", style="padding-left: 0px ">
        <label>Tiêu đề: <%= @mess.subject %></label>
      </div>
      <div class="text-right">
        <label>Người gửi: <%= @mess.sender %></label>
      </div>
      <div class="text-left col-lg-6", style="padding-left: 0px ">
        <label>Đã đọc lúc: <%= @mess.seen_at %></label>
      </div>
      <div class="text-right">
        <label>Người nhận: <%= @mess.receiver %></label>
      </div>
    </div>
    <div class="col-lg-offset-3 col-lg-7">
      <label>Nội dung:</label>
      <br>
      <%= @mess.body %>
    </div>
  </div>
  <div class = 'text-center'>
    <br><br><br><br>
    <a href="javascript:history.back()" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Trở lại</a>
  </div>
</div>
